@import url("https://www.w3schools.com/lib/w3-theme-light-green.css");

.text-ar {
  text-align: right; }

.text-al {
  text-align: left; }

.text-ac {
  text-align: center; }

.div-row-grey {
  background-color: #f9f9f9; }

.row-checked {
  background-color: lightblue; }

.p-cell {
  padding: 0.2em 0.2em;
  margin: 0.2em 0.4em;
  height: 1.8em; }

.whitespace {
  white-space: nowrap; }

.hover-div div:hover {
  background-color: #628e2f !important;
  cursor: pointer; }

.doc-check {
  width: 1.5em;
  padding: 0 .5em;
  height: 1.9em;
  cursor: auto; }

.input-checkbox {
  margin-top: 0.5em; }

.doc-id {
  width: 5em;
  cursor: auto; }

.doc-number {
  width: 9em; }

.doc-type {
  width: 5.8em;
  cursor: auto; }

.div-doc-norm {
  color: dodgerblue; }

.div-doc-corr {
  background-color: #f44336;
  color: #fff; }

.doc-val {
  width: 8em; }

.doc-nip {
  width: 11em; }

.div-detail {
  height: 0px;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: auto; }

.art-cell {
  margin: 0px;
  white-space: nowrap; }

.doc-opening {
  position: relative;
  -webkit-animation-name: opening;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.7s;
  /* Safari 4.0 - 8.0 */
  animation-name: opening;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
  animation-fill-mode: forwards; }

.doc-closing {
  height: 0px;
  position: relative;
  -webkit-animation-name: closing;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.7s;
  /* Safari 4.0 - 8.0 */
  animation-name: closing;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
  animation-fill-mode: forwards; }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes opening {
  0% {
    height: 0px; }
  100% {
    height: 400px;
    visibility: visible; } }

/* Standard syntax */
@keyframes opening {
  0% {
    height: 0px; }
  100% {
    height: 400px;
    visibility: visible; } }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes closing {
  0% {
    height: 400px; }
  100% {
    height: 0px;
    visibility: hidden; } }

/* Standard syntax */
@keyframes closing {
  0% {
    height: 400px; }
  100% {
    height: 0px;
    visibility: hidden; } }

/* TableNavigation buttons */

.button-margin {
  margin: 8px 8px 8px 0px; }

.button-style {
  color: #616161;
  float: left;
 }

.button-style-dark {
    color: #bbbbbb;
    background: #222222;
}
  

.error_msg {
  background-color: #ff5722;
  color: #fff; }

.request-documentdetail-spinner {
  background-image: url(../images/reload.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 18px; }
